<section>
    <a href="/dashboard/create" class="createPost">
        <h2>Create New Post</h2>
    </a>
</section>

{{#if posts.length}}
<section class="dashPost">
    <h2>Your Posts</h2>
    {{#each posts as |post|}}
    {{> small-post post}}
    <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    {{/each}}
</section>
{{/if}}