* {
    margin: 0;
    padding: 0;
    background-color: #a9a9a9;
}

a {
    text-decoration: none;
    color: white;
}

textarea {
    border: solid;
    width: 100%;
}

button {
    background:  none;
    border: none;
    color: white;
    font-family: 'Times New Roman';
    font-size: 16px;
}

header {
    display: flex;
    padding: 25px;
    justify-content: space-between;
    border-bottom: black 5px;
}

main {
    margin: 0 100px;
}

.title {
    font-weight: bolder;
    font-size: larger;
}

.title a {
    color: black;
}

.smallPostText  {
    overflow: hidden;
    height: 35px;
}

.smallPost {
    margin-bottom: 20px;
    margin-top: 25px;
}

.navSpace {
    margin: 0 15px;
}

.dashPost h2 {
    margin: 15px;
    font-size: 35px;
    border-bottom: 1px solid black;
    width: 250px;
}

.createPost h2 {
    margin: 0 50px;
    background-color: black;
    width: 200px;
    border: outset 2px black;
    text-align: center;
}

.createPost h2:hover {
    border: inset 2px black;
}

.dashPost a{
    margin: 0;
}