* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #a9a9a9;

}

a {
    text-decoration: none;
    color: white;
}

textarea {
    border: solid;
    width: 100%;
}

button {
    background:  none;
    border: none;
    color: white;
    font-family: 'Times New Roman';
    font-size: 16px;
}

header {
    display: flex;
    padding: 25px;
    justify-content: space-between;
    border-bottom: black 5px;
}

main {
    margin: 0 100px;
}

.title {
    font-weight: bolder;
    font-size: larger;
}

.title a {
    color: black;
}

.smallPostText  {
    overflow: hidden;
    height: 35px;
}

.smallPost {
    margin-bottom: 20px;
    margin-top: 25px;
}

.navSpace {
    margin: 0 15px;
}

.dashPost h2 {
    margin: 15px;
    font-size: 35px;
    border-bottom: 1px solid black;
    width: 250px;
}

.createPost h2 {
    margin: 0 50px;
    background-color: black;
    width: 200px;
    border: outset 2px black;
    text-align: center;
}

.createPost h2:hover {
    border: inset 2px black;
}

.dashPost a{
    margin: 0;
}

.comments {
    margin: 10px 0;
}

.comment {
    margin: 10px 0;
    padding: 5px;
}

.comment:nth-child(odd) {
    background-color: rgba(217, 215, 215, .7);
}

.comment-body {
    padding-bottom: 35px;
}

.login-form {
    margin: 15% 30%;
    align-self: center;
    vertical-align: middle; 
    background-color: white;
    padding: 50px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.email {
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.email label {
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
}

.email input {
    width: 100%;
    margin-bottom: 50px;
}

.password {
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.password label {
    width: 355.2px;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
}

.password input {
    width: 100%;
}
